# Database Credentials - create a .env with these fields and fill them
DB_USER=
DB_PASSWORD=
DB_NAME=vertex_db

#JWT
JWT_SECRET_KEY=
JWT_EXPIRATION=86400000

# Mailtrap API - Email Sending
MAILTRAP_TOKEN=
MAILTRAP_SANDBOX=
MAILTRAP_INBOX_ID=

# Frontend URL for email verification links
FRONTEND_URL=